html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("https://kalix.club/uploads/posts/2023-12/1702358196_kalix-club-p-belii-fon-s-liniyami-instagram-57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* Уменьшаем отступы на мобильных устройствах */
    }
}

h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #007bff;
}

h3 {
    margin-top: 20px;
    font-size: 1.8rem;
}

h4 {
    margin-top: 15px;
    font-size: 1.5rem;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

    img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.mb-3 {
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-6 {
    flex: 0 0 48%; /* Занимает почти половину ширины */
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%; /* На маленьких экранах занимает всю ширину */
    }
}
